body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div#container {
  border-top: 3px solid #ffc107;
  padding: 25px;
  margin-bottom: 50px;
}
a {
  color: #ffc107;
}
img {
  padding: 10px;
  height: 30vh;
  width: 70%;
}
h1 {
  text-align: center;
  margin-top: 25px;
}
div#form-container {
  margin: 2.5% 5% 25px 5%;
}

.form-control {
  margin-bottom: 15px;
}
div#footer {
  display: flex;
  justify-content: center;
}
#list {
  margin: 2.5% 5% 25px 5%;
  padding: 30px;
  border: 1.5px solid white;
  border-radius: 10px;
  background-color: #3f3d56;
}
