body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  margin: 2.5% 25% 0% 5%;
  border-bottom: 3px solid #0d6efd;
}
form {
  margin: 2.5% 25% 5% 5%;
}

#list {
  margin: 0% 25% 10% 5%;
  padding: 3% 3% 3% 10%;
  border: 1.5px solid white;
  border-radius: 10px;
}
